@font-face {
    font-family: Humming;
    src: url(resources/nintendoP_Humming-E_002pr.otf);
}

body {
    color: #948b6c;
    background-color: #9cb58b;
    text-align: center;
    font-family: Humming;
    font-size: 18px;
}

div * {
    scrollbar-width: none;
    overflow: scroll;
}

.seperator {
    display: inline-block;
}

.titleback {
    background-color: #ede5c1;
    background-image: url(resources/titleseparator.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 650px;
    margin: 15px 60px;
    border-radius: 60px;
}

.active {
    color: #4a3b3a;
    background-color: #fff33c;
    width: fit-content;
}

#left_title {
    width: 300px;
    height: 500px;
    padding: 35% 0;
    text-align: right;
    float: left;
}

#left_title .active {
    margin-left: auto;
}

#right_title {
    width: 300px;
    height: 500px;
    padding: 35% 0;
    text-align: left;
    float: right;
}

#right_title .active {
    margin-right: auto;
}

#titlepicker {
    width: 880px;
    height: 530px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fefae1;
    border-radius: 60px;
    box-shadow: 20px -30px #cfe0bc;
  }

  #change {
      font-size: 16px;
      font-family: Humming;
      color: #fefae1;
      background-color: #0cc6b8;
      padding: 20px 30px;
      border-radius: 50px;
      border: 0px;
      outline: none;
      float: right;
      position: absolute;
      top: 42%;
      right: 3%;
  }

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar:hover {
    display: auto;
}