@font-face {
    font-family: Seurat;
    src: url(resources/fonts/nintendoP_Seurat-B.ttf);
    font-display: swap;
}

@keyframes stripes {
    from { background-position: 0 0; }
    to { background-position: 5rem 2.5rem; }
}

@keyframes pop{
    50%  { transform: scale(1.05); }
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Seurat', Arial, Helvetica, sans-serif;
    color: #948b6c;
    background-image: url(resources/images/pattern-leaves-turquoise.jpg);
    min-width: 42rem;
    max-width: min-content;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

div * {
    scrollbar-width: none;
    overflow: scroll;
    -ms-overflow-style: none;
}

footer {
    font-size: 10px;
    color: #4a3b3a;
    display: block;
    position: relative;
}

h1 {
    color: #7cc9c3;
    margin: 0;
}

header {
    background-color: #fefae1;    
    background-repeat: repeat-x;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2);
}

img {
    padding: 0.2rem;
}

#change {
    font-family: 'Seurat', Arial, Helvetica, sans-serif;
    font-size: 18px;    
    color: #fefae1;
    background-color: #0cc6b8;
    padding: 0.4rem 2rem;
    margin-top: 0.8rem;
    outline: none;
    border: 0.3rem solid transparent;
    border-radius: 2rem;
}

#change:hover {
  background-color: #0dc3b6;
  background-size: 2.5rem 2.5rem;
  background-image: linear-gradient(
      -45deg,
      #01b1a4 25%,
      transparent 25%,
      transparent 50%,
      #01b1a4 50%,
      #01b1a4 75%,
      transparent 75%,
      transparent
  );
  animation: stripes 2s linear infinite;
  border: 0.3rem solid #4ae3d5;
  cursor: pointer;
}

#description {
    font-size: 14px;
    margin: 0;
}

#highlight {
    background-color: #fff775;
    background-size: 2.5rem 2.5rem;
    background-image: linear-gradient(
        -45deg,
        #fff437 25%,
        transparent 25%,
        transparent 50%,
        #fff437 50%,
        #fff437 75%,
        transparent 75%,
        transparent
    );
    width: 39rem;
    height: 2.5rem;
    position: absolute;
    margin-top: 8.4rem;
    margin-left: 0.5rem;
    border-radius: 0.6rem;
    animation: stripes 2s linear infinite;  
}

#left_info {
    background-color: #fefae1;
    border: 0.6rem solid #fefae1;
    width: 19.3rem;
    min-height: 11rem;
    opacity: 0;
    float: left;
    margin: 1rem auto;
    box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2);
}

#left_info:hover {
    transform: rotate(2deg);
}

#left_title {
    font-size: 20px !important;
    width: 48%;
    height: 19rem;
    text-align: right;
    position: relative;
    float: left;
}

#left_title div {
    padding: 0.15rem;
}

#right_info {
    background-color: #fefae1;
    border: 0.6rem solid #fefae1;
    width: 19.3rem;
    margin: 1rem auto;
    min-height: 11rem;
    opacity: 0;
    float: right;
    box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2);
}

#right_info:hover {
    transform: rotate(-2deg);
}

#right_title {
    font-size: 20px !important;
    width: 48%;
    height: 19rem;
    text-align: left;
    position: relative;
    float: right;
}

#right_title div {
    padding: 0.15rem;
}

#title_columns {
    background-color: #ede5c1;
    background-image: url(resources/images/titleseparator.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#title_helper {
    padding: 1rem;
    background-color: #fefae1;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2);
}

#title_info {
    color: #5a5127;
    min-height: 13rem;
    margin-bottom: 1rem;
}

.active {
    color: #4a3b3a;
}

.filler {
    padding: 3rem;
}

.pop {
    opacity: 1;
}

.task_description {
    font-size: 14px;
    padding: 1rem;
}

.task_name {
    background-image: url(resources/images/task_name_back.png);
    background-repeat: repeat-x;
    padding: 0.8rem 0 2rem 0;
}

@media only screen and (max-width: 660px) {
    body {
        min-width: 21rem;
    }

    #highlight {
        width: 18.7rem;
        height: 2.2rem;
    }

    #left_info, #right_info {
        float: none;
    }

    #left_title, #right_title {
        font-size: 17px !important;
    }

    #left_title div, #right_title div {
        padding: 0.25rem;
    }

    .filler {
        padding: 3.2rem;
    }
}
