@font-face {
    font-family: Humming;
    src: url(resources/nintendoP_Humming-E_002pr.otf);
}

@keyframes stripes {
    from { background-position: 0 0; }
    to { background-position: 80px 40px; }
}

body {
    color: #948b6c;
    animation: 80s linear 0s infinite forwards;
    background-image: url(resources/pattern-confetti.jpg);
    text-align: center;
    font-family: Humming;
    font-size: 18px;
}

div * {
    scrollbar-width: none;
    overflow: scroll;
}

button {
    cursor: pointer;
}

.seperator {
    display: inline-block;
}

.titlecol {
    background-color: #ede5c1;
    background-image: url(resources/titleseparator.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 650px;
    margin: 15px 60px;
    border-radius: 60px;
}

.filler {
    padding: 39%;
}

.active {
    color: #4a3b3a;
}

#left_title {
    width: 300px;
    height: 500px;
    text-align: right;
    float: left;
    position: relative;
    z-index: 1;
}

#right_title {
    width: 300px;
    height: 500px;
    text-align: left;
    float: right;
    position: relative;
    z-index: 1;
}

#highlight {
    width: 600px;
    height: 45px;
    background-color: #fff775;
    background-size: 40px 40px;
    background-image: linear-gradient(
        -45deg,
        #fff437 25%,
        transparent 25%,
        transparent 50%,
        #fff437 50%,
        #fff437 75%,
        transparent 75%,
        transparent
    );
    animation: stripes 2s linear infinite;  
    position: absolute;
    margin-top: 27.5%;
    margin-left: 9.5%;
    z-index: 0;
    border-radius: 10px;
    
}

#titlepicker {
    width: 880px;
    height: 530px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fefae1;
    border-radius: 60px;
  }

  #change {
      font-size: 16px;
      font-family: Humming;
      color: #fefae1;
      background-color: #0cc6b8;
      padding: 10px 30px;
      border-radius: 50px;
      border: 4px solid transparent;
      outline: none;
      float: right;
      position: absolute;
      top: 44%;
      right: 3%;
  }

  #change:hover {
    background-color: #0dc3b6;
    background-size: 40px 40px;
    background-image: linear-gradient(
        -45deg,
        #01b1a4 25%,
        transparent 25%,
        transparent 50%,
        #01b1a4 50%,
        #01b1a4 75%,
        transparent 75%,
        transparent
    );
    animation: stripes 2s linear infinite;
    border: 4px solid #4ae3d5;
  }

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar:hover {
    display: auto;
}